<div *ngFor="let comment of comments">
    <div class="bg-white p-2">
        <div class="d-flex flex-row user-info">
            <img class="rounded-circle" src="{{comment.userPhotoUrl || './assets/user.png'}}" width="45">
            <div class="d-flex flex-column justify-content-start ml-2">
                <span class="d-block font-weight-bold name"><a routerLink="/members/{{comment.username}}">{{comment.username}}</a></span>
                <span class="date text-black-50">{{comment.updateDate | date:'medium'}}</span>
            </div>
            <div class="bg-white ml-auto p-2" *ngIf="comment.username === user.username">
                <div class="d-flex flex-row ">
                    <div class="like cursor mr-2" (click)="deleteComment(comment.blogCommentId)"><i-feather name="x" class="size"></i-feather></div>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <p class="comment-text">{{comment.content}}</p>
        </div>
    </div>
    <hr>
</div>