<div class="row" >
    <div class="col-12 col-sm-4 col-xl-4">
        <div class="card">
            <div  *ngIf="(presence.onlineUsers$ | async)!.includes(member.username)">    
                    <div class="d-flex justify-content-center h-100">
                        <div class="image_outer_container">
                            <div class="green_icon"></div>
                            <div class="image_inner_container">
                                <img src="{{member?.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}">
                            </div>
                        </div>
                    </div>
            </div>
            <div *ngIf="!(presence.onlineUsers$ | async)!.includes(member.username)">
                <div class="d-flex justify-content-center h-100">
                    <div class="image_outer_container">
                        <div class="gray_icon"></div>
                        <div class="image_inner_container_gray">
                            <img src="{{member?.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}">
                        </div>
                    </div>
                </div>
            </div>

            <h3 style="text-align: center;">{{member.knownAs}}</h3>
              
            <div class="card-body">
               
                <div>
                    <strong>Location:</strong>
                    <p>{{member.city}}, {{member.country}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Last Active:</strong>
                    <p>{{member.lastActive | timeago}}</p>
                </div>
                <div>
                    <strong>Member since:</strong>
                    <p>{{member.created | date: 'longDate'}}</p>
                </div>  
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary" (click)="addBlock(member)">Block</button>
                    <button (click)="selectTab(4)" class="btn btn-success">Message</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-8 col-xl-8">
        <tabset class="member-tabset" #memberTabs>
            <tab heading='About {{member.knownAs}}' (selectTab)="onTabActivated($event)">
                <h4>Description</h4>
                <p>{{member.introduction}}</p>
                <h4>Looking for</h4>
                <p>{{member.lookingFor}}</p>
            </tab>
            <tab heading='Interests' (selectTab)="onTabActivated($event)">
                <h4>Interests</h4>
                <p>{{member.interests}}</p>
               
            </tab>
            <tab heading='Photo' (selectTab)="onTabActivated($event)">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
            </tab>
            <tab heading='Post' (selectTab)="onTabActivated($event)">
                <app-member-post [username]="member.username"></app-member-post>
            </tab>
            <tab heading='Messages' (selectTab)="onTabActivated($event)">
               <app-member-messages [username]="member.username"></app-member-messages>
            </tab>
        </tabset>
    </div>
</div>
