<div class="row mybody" >
    <div class="col-12 col-sm-4 col-xl-4">
        <div class="card">
            <div  *ngIf="(presence.onlineUsers$ | async)!.includes(member.username)">    
                    <div class="d-flex justify-content-center h-100">
                        <div class="image_outer_container">
                            <div class="green_icon"></div>
                            <div class="image_inner_container">
                                <img src="{{member?.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}">
                            </div>
                        </div>
                    </div>
            </div>
            <div *ngIf="!(presence.onlineUsers$ | async)!.includes(member.username)">
                <div class="d-flex justify-content-center h-100">
                    <div class="image_outer_container">
                        <div class="gray_icon"></div>
                        <div class="image_inner_container_gray">
                            <img src="{{member?.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <div>
                    <h3 style="text-align: center;">{{member.knownAs}}</h3>
                </div>
                <div (click)="showMoreIcon()">
                    <i-feather  name="more-vertical" class="icon someclass"></i-feather>
                </div>
            </div>
              
            <div class="card-body">
                <div (click)="showMyModal()" class="report" *ngIf="showMore">
                    <i-feather name="alert-circle" class="someclass"></i-feather>
                    <span>Report</span>
                </div>
                <div>
                    <strong>Location:</strong>
                    <p>{{member.city}}, {{member.country}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Last Active:</strong>
                    <p>{{member.lastActive | timeago}}</p>
                </div>
                <div>
                    <strong>Member since:</strong>
                    <p>{{member.created | date: 'longDate'}}</p>
                </div>  
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary" (click)="addBlock(member)">Block</button>
                    <button (click)="selectTab(4)" class="btn btn-success">Message</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-8 col-xl-8">
        <tabset class="member-tabset" #memberTabs>
            <tab heading='About {{member.knownAs}}' (selectTab)="onTabActivated($event)">
                <h4>Description</h4>
                <p>{{member.introduction}}</p>
                <h4>Looking for</h4>
                <p>{{member.lookingFor}}</p>
            </tab>
            <tab heading='Interests' (selectTab)="onTabActivated($event)">
                <h4>Interests</h4>
                <p>{{member.interests}}</p>
               
            </tab>
            <tab heading='Photo' (selectTab)="onTabActivated($event)">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
            </tab>
            <tab heading='Post' (selectTab)="onTabActivated($event)">
                <app-member-post [username]="member.username"></app-member-post>
            </tab>
            <tab heading='Messages' (selectTab)="onTabActivated($event)">
               <app-member-messages [username]="member.username"></app-member-messages>
            </tab>
        </tabset>
    </div>
</div>
<div class="myModal" *ngIf="myModal">
    <div style="text-align: center;">
        <h2 >Report</h2>
        <p>Please select a problem</p>
    </div>
    <hr>
    <form [formGroup]="reportForm" (ngSubmit)="reportForm.valid && createReport()" autocomplete="off">
        <div class="form-check d-flex flex-column">
            <label class="radio-inline">
                <input type="radio" value="Harmful or spam" formControlName="reason"> Harmful or spam
            </label>
            <label class="radio-inline">
                <input type="radio" value="Not using a real name" formControlName="reason"> Not using a real name
            </label>
            <label class="radio-inline">
                <input type="radio" value="Posting inappropriate Things" formControlName="reason"> Posting inappropriate Things
            </label>
            <label class="radio-inline">
                <input type="radio" value="offensive images" formControlName="reason"> Offensive images
            </label>
            <label class="radio-inline">
                <input type="radio" value="orther" formControlName="reason"> Orther
            </label>
        </div>
        <div class="form-group text-center">
            <button [disabled]='!reportForm.valid' class="btn btn-success mr-2" type="submit">Report</button>
            <button class="btn btn-primary mr-2" (click)="showMyModal()" type="button">Cancel</button>
        </div>
    </form>
</div>