
.img-thumbnail{
    margin: 25px;
    width: 85%;
    height: 85%;
}
.mybody{
    position: relative;
}
.myModal{
    background-color: #ecebeb;
    position: absolute;
    padding: 20px;
    top: 150px;
    right: 40%;
    z-index: 100;
    border-radius: 10px;
}

.card-body{ 
    padding:0 25px;
    position: relative;
}
.card-footer{
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
 }
 .ngx-gallery { 
    display: inline-block;
    margin-bottom: 20px; 
}
.image_outer_container{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
    position: relative;
}

.image_inner_container{
    border-radius: 50%;
    padding: 5px;
    background: #833ab4; 
    background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4); 
    background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
}
.image_inner_container_gray{
    border-radius: 50%;
    padding: 5px;
    background: #a3a3a3; 
    
}
.image_inner_container img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid white;
}
.image_inner_container_gray img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid white;
}

.green_icon{
  background-color: #4cd137;
  position: absolute;
  right: 30px;
  bottom: 10px;
  height: 30px;
  width: 30px;
  border:5px solid white;
  border-radius: 50%;
}
.gray_icon{
  background-color: #a3a3a3;
  position: absolute;
  right: 30px;
  bottom: 10px;
  height: 30px;
  width: 30px;
  border:5px solid white;
  border-radius: 50%;
}
.icon{
    position: relative;
    margin-top: 5px;
    opacity: 0.2;
}
.icon:hover{
    opacity: 1;
}
.report{
    background-color: #ecebeb;
    padding: 20px 15px;
    position: absolute;
    z-index: 100;
    right: 50px;
    border-radius: 10px;
}

@keyframes fa-blink{
    0%{ opacity: 1;}
    100% { opacity: 0.5; }
}