<form [formGroup]="commentForm" (ngSubmit)="commentForm.valid && createComment()"
autocomplete="off">
    <div class="bg-light p-2">
        <div class="d-flex flex-row align-items-start">
            <img class="rounded-circle" src="{{user.photoUrl || './assets/user.png'}}" width="40">
            <textarea class="form-control ml-1 shadow-none textarea"
            [formControl]="$any(commentForm.controls['content'])"></textarea>
        </div>
        <div class="mt-2 text-right">
            <button class="btn btn-primary btn-sm shadow-none" type="submit">Post comment</button>
            <button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="reset">Cancel</button></div>
    </div>    
</form>