<div class='row'>
    <table class="table">
        <thead>
            <tr>
                <th style="width: 20%;">Title</th>
                <th style="width: 20%;">Username</th>
                <th style="width: 20%;"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let blog of blogs">
                <td><a routerLink='/blogs/{{blog.id}}'>{{blog.title}}</a></td>
                <td><a routerLink="/members/{{blog.username}}">{{blog.username}}</a></td>
                <td>
                    <button class='btn btn-sm btn-success mr-1' (click)='approveBlog(blog.id)'>Approve</button>
                    <button class='btn btn-sm btn-danger' (click)='rejectBlog(blog.id)'>Reject</button>
                </td>
             
            </tr>
        </tbody>

    </table>
</div>