<header >
    <div class="container">
        <div class="row">
            <div class="col-6 p-2">
                <img src="./assets/hello.svg" alt="hello">
            </div>
            <div class="col-6">
                <div class="mt-5">
                    <p class="lead text-uppercase mb-1">
                        Hello!
                    </p>
                    <h1 class="name marker">I'm Ngọc Giả</h1>
                    <p class="mt-5">FullStack Developer & Designer  </p>
                    <div class="social-nav mt-3">
                        <ul class="d-flex ">
                            <li><a href="https://www.facebook.com/ngocgia.82"><i class="fa fa-facebook"></i></a> </li>
                            <li><a href="https://www.instagram.com/ngocgia.82/"><i class="fa fa-google"></i></a> </li>
                            <li><a href="https://www.instagram.com/ngocgia.82/"><i class="fa fa-instagram"></i></a> </li>
                        </ul>
                    </div>   
                    <div class="mt-5">
                        <a href="#" class="my-btn">
                            Contact me
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <div class="wave-bg"></div>  
</header>
<section class="mt-5">
    <div class="container d-flex">
        <div class="col-6">
            <h3>Hello! I'm Ngọc Giả</h3>
            <p>I am passionate about UI/UX design and Web Design. I am a skilled front-end developer and master of graphic design tools such as Photoshop and Sketch. I am a quick learner and a team worker that gets the job done. I can easily capitalize on low hanging fruits and quickly maximize timely deliverables for real-time schemas.</p>
            <div class="row mt-3">
                <div class="col-sm-2">
                    <div class="pb-1">Age:</div>
                </div>
                <div class="col-sm-10">
                    <div class="pb-1 fw-bolder">23</div>
                </div>
                <div class="col-sm-2">
                    <div class="pb-1">Email:</div>
                </div>
                <div class="col-sm-10">
                    <div class="pb-1 fw-bolder">ngocgia.82@gmail.com</div>
                </div>
                <div class="col-sm-2">
                    <div class="pb-1">Phone:</div>
                </div>
                <div class="col-sm-10">
                    <div class="pb-1 fw-bolder">070 6020 825</div>
                </div>
                <div class="col-sm-2">
                    <div class="pb-1">Address:</div>
                </div>
                <div class="col-sm-10">
                    <div class="pb-1 fw-bolder">Kon Tum, Việt Nam</div>
                </div>
                <div class="col-sm-2">
                    <div class="pb-1">Status</div>
                </div>
                <div class="col-sm-10">
                    <div class="pb-1 fw-bolder">Available</div>
                </div>
               
            </div>
        </div>
        <div class="col-6">
            <img class="avatar img-fluid mt-2" src="./assets/avatar.jpg" alt="myavatar" width="400" height="400">
        </div>
    </div>
    <div class="wave-bg"></div>  
</section>
