<div *ngIf="!editMode">
    <header class="masthead text-center d-flex flex-row-reverse" *ngIf="blogs">
        <div *ngIf="blogs.userName === user.username">
            <div class="btn-group" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn"
                        aria-controls="dropdown-basic">
                        <i-feather name="edit-3"></i-feather>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-basic">
                  <li role="menuitem"><a class="dropdown-item" (click)="editToggle()">Edit Blog</a></li>
                  <li role="menuitem"><a class="dropdown-item" (click)="deleteBlog(blogs!.id)">Delete</a></li>

                </ul>
              </div>
        </div>
        <div class="container position-relative px-4 px-lg-5" >
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>{{blogs.title}}</h1>
                        <span class="meta">
                            Posted by
                            <a routerLink="/members/{{blogs.userName}}">{{blogs.userName}}</a>
                            on {{blogs.publishDate | date: 'longDate'}}
                            <span *ngIf="blogs.publishDate !== blogs.updateDate"> | Publish on {{blogs.updateDate | timeago}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <hr>
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                      <div class="col-md-10 col-lg-8 col-xl-7" [innerHTML]="blogs?.content | safe">
                      </div>
                </div>
            </div>
            <app-comment-system *ngIf="blogs" [blogId]="blogs.id"></app-comment-system>
        </div>
    </article>
</div>
<div *ngIf="editMode" class="container">
    <app-blog-edit (cancelEdit)="cancelEditMode($event)"></app-blog-edit>
</div>


